.note-container {
  border-right: 2px solid silver;
  display: inline-block;
  color: white;
  font-weight: bold;
}

.marker {
  width: 19px;
  height: 19px;
  border-radius: 100%;
  display: inline-block;
  margin: 2.5px 9px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 19px;
  box-shadow: 2px 3px 3px 0px rgba(17,17,17,1);

}

.on {
  composes: marker;

  background-color: #C76E06;
}

.root {
  composes: marker;

  background-color: #FCDC3B;
  color: black;
}

.off {
  composes: marker;

  opacity: 0;
}

.fretboard {
  z-index: -100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.fretboard-container {
  max-width: 100vw;
  overflow: hidden;
  height: 146px;
  position: relative;
  padding: 0;
  margin-bottom: 30px;

}

.string-container {
  position: relative;
}

.string {
  position: absolute;
  height: 0px;
  box-sizing: content-box;
  position: relative;
  top: 10px;
  width: 100%;
  z-index: -50;
}

.string0 {
  composes: string;

  outline: 2px solid #DAA520;
}

.string1 {
  composes: string;

  outline: 1px solid #DAA520;

}

.string2 {
  composes: string;

  outline: 1px solid #DAA520;
}

.string3 {
  composes: string;

  outline: 1px solid #DAA520;
}

.string4 {
  composes: string;

  outline: 0.3px solid silver;
}

.string5 {
  composes: string;

  outline: 0.3px solid silver;
}

.big-name {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 15px;
}