.note-container {
  border-right: 2px solid silver;
  display: inline-block;
  color: white;
  font-weight: bold;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  display: inline-block;
  border: 2px solid #ccc;
  margin: 2px 9px;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
}

.on {
  composes: marker;

  background-color: red;
}

.root {
  composes: marker;

  background-color: green;
}

.off {
  composes: marker;

  opacity: 0;
}

.fretboard {
  z-index: -100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.fretboard-container {
  width: 100%;
  height: 143px;
  position: relative;
  padding: 0;

}

.string-container {
  position: relative;
}

.string {
  position: absolute;
  height: 0px;
  box-sizing: content-box;
  position: relative;
  top: 10px;
  width: 100%;
  z-index: -50;
}

.string0 {
  composes: string;

  outline: 2px solid #DAA520;
}

.string1 {
  composes: string;

  outline: 1px solid #DAA520;

}

.string2 {
  composes: string;

  outline: 1px solid #DAA520;
}

.string3 {
  composes: string;

  outline: 1px solid #DAA520;
}

.string4 {
  composes: string;

  outline: 0.3px solid silver;
}

.string5 {
  composes: string;

  outline: 0.3px solid silver;
}